<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">

            <h1 class="title is-1 is-uppercase has-text-weight-bold">
                Who are Horns?
            </h1>
            <hr class="has-background-black">

            <div class="columns">

                <iframe class="column is-16by9" height="315" src="https://www.youtube.com/embed/cggdD-iYDpk?si=epMcqhLU5qNEomjB"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <div class="column has-text-left">

                    <p>
                        Entertaining audiences with our lively blend of global street music, we're a band with plenty of volume! With around 35 enthusiastic members, we boast a multitude of brass, saxes, clarinets and percussion.
                    </p>
                    <br />
                    <p>
                        You'll find us anywhere the audience is smiling - at festivals, parades, carnivals and street parties across Oxfordshire and beyond.
                    </p>
                    <br />
                    <p>
                        Born out of the Cowley Road Carnival in 2007, we are proud to be Oxford's Community Street Band and a musical force to be reckoned with. No matter whether you meet a select group or the whole complement of Horns of Plenty, we promise a musical delight that’ll dazzle!
                    </p>
                    <br />
                    <p>
                        Feeling the rhythm? Come on, join the fun!
                    </p>

                </div>

            </div>

            <div class="container columns is-centered">
                <div>
                    <a href="{{site.url}}{{site.baseurl}}/#gigs"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                        Hear Us</a>
                    </a>
                </div><div>
                    <a href="{{site.url}}{{site.baseurl}}/#bookings"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                        Book Us</a>
                    </a>
                </div>
                <div>
                    <a href="{{site.url}}{{site.baseurl}}/#join"
                        class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">
                        Join us</a>
                    </a>
                </div>
            </div>

        </div>
</section>