<section class="hero is-fullheight has-text-black has-text-centered has-background-white-ter" id="bookings">
    <div class="hero-body">
        <div class="container">

            <h1 class="title is-1 is-uppercase has-text-weight-bold is-horns-red">
                Want to book us?
            </h1>
            <hr class="has-background-black">

            <div class="columns">

                <div class="column has-text-left">

                    <p>
                        We'd love to be part of your next event. Just ping us an email at
                        <a class="is-horns-red" href="mailto:gigs@hornsofplenty.co.uk">gigs@hornsofplenty.co.uk</a>
                        and let's make some musical magic happen!
                    </p>
                    <br />
                    <p>
                        As bands go, we're pretty low maintenance, with no need for a stage or power outlets.
                        And while we call Oxford home, we're usually up for a road trip to bring our lively brand of world music to you.
                    </p>

                </div>
                <div class="column has-text-left">

                    <p>
                        Our rates? We're open to negotiation. Every penny goes back into our community band coffers to keep Horns of Plenty afloat.
                    </p>
                    <br />
                    <p>
                        Now, here's the small print: because Horns are a large group, it might take a little bit
                        of coordination to lock in your date. So, the sooner you get in touch (think, at least a month
                        beforehand), the better chance we have of making it happen!
                    </p>

                </div>
            </div>
        </div>
</section>