<section class="hero is-fullheight has-text-black has-text-centered has-background-white-ter" id="gigs">
    <div class="hero-body">
        <div class="container">

            <h1 class="title is-1 is-uppercase has-text-weight-bold is-horns-red">
                Upcoming Gigs
            </h1>
            <hr class="has-background-black">

            <p>Some of these may be subject to change, but here are some places you might catch us performing soon.
                <br />
                We do private and pop-up gigs too, so you might even see us unexpectedly. Bonus!</p>
            <br />

            {% assign curr_date_num = "today" | date: "%Y%m%d" %}

            <div class="columns is-centered is-multiline is-mobile">

                {% for gig in site.data.gigs %}

                    {% assign gig_date_num = gig.date | date: "%Y%m%d"%}

                    {% if gig_date_num >= curr_date_num %}

                        <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
                            id="gig-card">

                            {% unless gig.link == %}
                            <a href="{{gig.link}}" target="_blank">
                            {% endunless %}

                            <div class="card has-background-black"><div class="card-content">

                                {% assign multiday_suffix = "" %}
                                {% assign gig_date_formatted = gig.date | date: "%a %e %b %Y" %} <!-- Date format is: Sat 12 Aug 1987. https://strftime.net/ -->
                                {% unless gig.days == %}
                                    {% capture multiday_suffix %} for {{gig.days}} days{% endcapture %}
                                {% endunless %}
                                {% assign gig_date_presentation = gig_date_formatted | append: multiday_suffix %}
                                <p class="has-text-white has-text-weight-bold"><time datetime="{{gig.date}}">{{gig_date_presentation}}</time></p>

                                <h2 class="title is-size-4 is-horns-red">{{gig.name}}</h2>
                                {% unless gig.place == %}
                                <p class="has-text-white">{{gig.place}}</p>
                                {% endunless %}

                                <div class="columns is-mobile is-size-7 pt-4" style="vertical-align: bottom;" >
                                    <div class="column has-text-left is-narrow pl-0 ml-0">
                                        {% if gig.free == "Y" %}

                                        <p class="is-horns-red">
                                        <span class="fa-stack is-horns-red has-text-right" style="vertical-align: bottom;">
                                            <i class="fas fa-pound-sign fa-stack-1x"></i>
                                            <i class="fas fa-slash fa-stack-1x"></i>
                                        </span><span class="pb-1 is-size-6" style="vertical-align: middle;">free!</span>
                                        </p>

                                        {% else %}
                                        <p class="has-text-white pl-3"><i class="fas fa-pound-sign"></i></p>
                                        {% endif %}
                                    </div>
                                    <div class="column has-text-right has-text-white">
                                        {% unless gig.link == %}
                                        <p class="">
                                        <i class="fas fa-external-link-alt"></i> More info
                                        </p>
                                        {% endunless %}
                                    </div>
                                </div>

                            </div></div>

                            {% unless gig.link == %}
                            </a>
                            {% endunless %}

                        </div>

                    {% endif %}

                {% else %}
                    <!-- This will be shown if the gigs.yml data list is actually EMPTY.
                        But note it won't take effect if the gigs data has entries but they're all in the past.
                     -->
                    <div class="column has-text-centered is-paddingless is-marginless is-one-third-widescreen is-one-third-desktop is-one-fifth-fullhd is-one-third-tablet is-two-fifths-mobile is-three-quarters-touch"
                     id="gig-card">
                        <div class="has-background-black card">
                            <div class="card-content">
                                <p class="has-text-white content">We're having a bit of a rest right now.</p>
                                <p class="has-text-white content">Please check back in a month or so!</p>
                            </div>
                        </div>
                    </div>

                {% endfor %}

              </div>


            </div>


        </div>

</section>