<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://kit.fontawesome.com/d97b1bd770.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{% if site.favicon-url %}{{site.favicon-url}}{% else %}{{ 'assets/images/logo.png' | absolute_url }}{% endif %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!-- jQuery needed for cookie banner -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Cookie Banner -->
    <link rel="stylesheet" href="/assets/css/cookiebanner.style.css">
    <script src="/assets/js/cookiebanner.script.js"></script>
    <style>
        *{margin:0;padding:0;text-decoration:none;list-style:none;box-sizing:border-box;}
    </style>
    <script>
        $(document).ready(function() {
            cookieBanner.init();
        });
    </script>

</head>
