<section class="hero is-fullheight has-background-white-ter" id="join">
    <div class="hero-body">
        <div class="container">

            <h1 class="title is-1 is-uppercase has-text-weight-bold has-text-centered ">
                Want to join us?
            </h1>
            <hr class="has-background-black">

            <p class="has-text-weight-bold">
                If you fancy being part of Horns of Plenty, please reach out to us via email at
                <a href="mailto:info@hornsofplenty.co.uk">info@hornsofplenty.co.uk</a>.
            </p>
            <br />
            <p>Here's what you should know:</p>
            <br />

            <div class="columns">

                <div class="column has-text-left">

                    <div class="list">
                        <div class="list-item">Our core instruments include saxes (all sizes), clarinets, trumpets, trombones,
                            sousaphones, and marching percussion.
                        </div>
                        <div class="list-item">We're a relaxed, mixed-ability, amateur adult band. No auditions or minimum
                            grade standards required.
                        </div>
                        <div class="list-item">We rehearse on Tuesdays year-round, from 7-9pm in Iffley.
                            Feel free to try a rehearsal or two with no pressure to commit long-term, and
                            it's okay to miss the odd rehearsal.
                        </div>
                        <div class="list-item">If you play an instrument not listed above that you think might fit, don't
                            hesitate to ask us!
                        </div>
                        <div class="list-item">You won't be expected to start performing until you feel ready. We perform
                            without sheet music, so everyone takes some time to learn their parts.
                        </div>
                    </div>

                </div>
                <div class="column has-text-left">

                    <div class="list">
                        <div class="list-item">We welcome all comers and want our band to be as diverse as our
                            community. We play music that represents all sorts of races, ethnicities,
                            nationalities and peoples. We celebrate difference and are committed to
                            eliminating any barriers that could prevent membership of the band.
                        </div>
                        <div class="list-item">We often perform outdoors and on the move, such as at carnivals or parades.
                            Bear this in mind when considering joining us - but don't let it stop you from
                            getting in touch. If we can find a way to make it work with you, we'll always do
                            our best!
                        </div>
                        <div class="list-item">Once you're ready to commit, we do have membership fees. These fees go
                            towards hiring our rehearsal space and covering other essential costs. They
                            can be paid monthly or annually and are income/means based.
                        </div>
                    </div>

                </div>
            </div>

            <p class="has-text-weight-bold">We look forward to hearing from you!</h3>

        </div>
</section>