<section class="hero is-fullheight has-text-centered" id="hero">
  <div class="hero-body">
    <div class="container">

    <img src="/assets/images/splash-logo.png" alt="{{site.title}}" class="is-square" />


      <h3 class="subtitle has-text-black is-uppercase has-text-weight-medium is-marginless">
        {{site.description}}
      </h3>

      <div class="column is-full is-size-3">
        {% unless site.email == %}
        <a href="mailto:{{site.email}}" target="_blank" class="has-text-black"><i class="far fa-envelope"></i></a>
        {% endunless %}
        {% unless site.facebook_username == %}
        <a href="http://www.facebook.com/{{site.facebook_username}}" target="_blank" class="has-text-black"><i class="fab fa-facebook"></i></a>
        {% endunless %}
        {% unless site.instagram_username ==  %}
        <a href="http://www.instagram.com/{{site.instagram_username}}" target="_blank" class="has-text-black"><i class="fab fa-instagram"></i></a>
        {% endunless %}
        {% unless site.spotify_username ==  %}
        <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
        {% endunless %}
        {% unless site.twitter_username == %}
        <a href="https://x.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fab fa-twitter"></i></a>
        {% endunless %}
        {% unless site.youtube_channel_id ==  %}
        <a href="http://www.youtube.com/channel/{{site.youtube_channel_id}}" target="_blank" class="has-text-black"><i class="fab fa-youtube"></i></a>
        {% endunless %}
    </div>

      <hr class="has-background-black"/>

      <a href="{{site.url}}/#about"
        class="button is-black is-rounded is-outlined is-uppercase has-text-weight-normal">Read More</a>
      </a>



    </div>
  </div>
</section>